<!--<aside>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<ins class="adsbygoogle"
	     style="display:inline-block;width:468px;height:15px"
	     data-ad-client="ca-pub-9059007378327558"
	     data-ad-slot="3803078229"></ins>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</aside>
-->

<footer id="footer">
	<p class="copyright"><small>Copyright &copy; clover.blue All Rights Reserved.</small></p>
</footer>

<script>
var qiita = [];
<% for(var i = 0;i < qiita.length;i++) { %>
qiita[<%= i %>] = {uuid: '<%= qiita[i].uuid %>', title: '<%= qiita[i].title %>', updated: <%= qiita[i].updated %>};
<% } %>
var flickr = [];
<% for(var i = 0;i < 1;i++) { %>
flickr[<%= i %>] = {uuid: '<%= flickr[i].uuid %>', title: '<%= flickr[i].title %>', updated: <%= flickr[i].updated %>};
<% } %>
var pixiv = [];
<% for(var i = 0;i < pixiv.length;i++) { %>
pixiv[<%= i %>] = {uuid: '<%= pixiv[i].uuid %>', title: '<%= pixiv[i].title %>', updated: <%= pixiv[i].updated %>, img: '<%= pixiv[i].img %>', thumbnail: '<%= pixiv[i].thumbnail %>'};
<% } %>
var tumblr = [];
<% for(var i = 0;i < tumblr.length;i++) { %>
tumblr[<%= i %>] = {uuid: '<%= tumblr[i].uuid %>', title: '<%= tumblr[i].title %>', updated: <%= tumblr[i].updated %>};
<% } %>
</script>

<script src="//typesquare.com/accessor/script/typesquare.js?sQnFj5ZfnMM%3D"></script>
<script src="/js/ga.js"></script>
<script src="/js/sns.js"></script>
<script src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
<script data-main="/js/main" src="/js/components/requirejs/require.js"></script>

</body>
</html>