<footer id="footer">
	<p class="copyright"><small>Copyright &copy; clover.blue All Rights Reserved.</small></p>
</footer>

<script>
var qiita = [];
<% for(var i = 0;i < qiita.length;i++) { %>
qiita[<%= i %>] = {uuid: '<%= qiita[i].uuid %>', title: '<%= qiita[i].title %>', created: '<%= qiita[i].created %>', updated: <%= qiita[i].updated %>};
<% } %>
var flickr = [];
<% for(var i = 0;i < flickr.length;i++) { %>
flickr[<%= i %>] = {uuid: '<%= flickr[i].uuid %>', title: '<%= flickr[i].title %>', updated: <%= flickr[i].updated %>};
<% } %>
var pixiv = [];
<% for(var i = 0;i < pixiv.length;i++) { %>
pixiv[<%= i %>] = {uuid: '<%= pixiv[i].uuid %>', title: '<%= pixiv[i].title %>', updated: <%= pixiv[i].updated %>, img: '<%= pixiv[i].img %>', thumbnail: '<%= pixiv[i].thumbnail %>'};
<% } %>
var tumblr = [];
<% for(var i = 0;i < tumblr.length;i++) { %>
tumblr[<%= i %>] = {uuid: '<%= tumblr[i].uuid %>', title: '<%= tumblr[i].title %>', updated: <%= tumblr[i].updated %>};
<% } %>
</script>

<script src="/js/ga.js"></script>
<script src="/js/sns.js"></script>
<script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
<script data-main="/js/main" src="/js/components/requirejs/require.js"></script>

</body>
</html>